.item {
  border: 1px solid grey;
  padding: 0 5px;
  margin: 5px;
  width: 22%;
  min-width: 185px;
  min-height: 120px;
}

.group {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.group > p{
  font-size: 0.9em;
  min-height: 30px;
}

.group > div {
  display: flex;
  justify-content: space-between;
}
.group > div > span{
  padding: 2px;
  cursor: pointer;
  color: dodgerblue;
}



