.btn-back {
  margin: 15px 25px 5px;
  padding: 3px 10px;
  border: 2px solid #8eb7b2;
  display: inline-block;
}

.form-registration {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 25px;
}

.btn-submit {
  margin-top: 15px;
  border: 2px solid #2ec05e;
}

.checkbox {
  display: inline-block;
}

.checkbox-label {
  margin-top: 10px;
}
.checkbox-name {
  padding-right: 7px;
}